.vwo-cropper-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  position: relative;
}

.vwo-cropper-buttons-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.vwo-action-button--selected {
  color: #5388dd !important;
}

.vwo-cropper-buttons-container button {
  color: white;
  background: none !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 24px !important;
  height: 24px !important;
  max-width: 24px !important;
  min-width: 24px !important;
  max-height: 24px !important;
  display: grid;
  place-items: center;
  transition: all 0.3s ease;
}

.vwo-cropper-buttons-container button:hover {
  color: #5388dd !important;
}

.vwo-cropper-buttons-container button:active {
  color: #1351b4 !important;
}

.vwo-cropper-buttons-container button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.vwo-cropper-buttons-container .vwo-close-modal:hover {
  color: #f32020 !important;
}

.vwo-cropper-buttons-container .vwo-close-modal:active {
  color: #b11a1a !important;
}

.vwo-crop-and-move:focus {
  color: #ffffff;
}

.vwo-close-modal svg {
  position: absolute;
}