.vwo-cropper-modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99999999 !important;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.vwo-cropper-modal button {
  cursor: pointer;
}

.vwo-cropper-title {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  width: 100%;
  max-width: 400px;
  line-height: 1.5;
}

.vwo-cropper-modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  margin: 40px 0;
  max-width: 800px;
}

.vwo-cropper-img-container {
  width: 100%;
  overflow: hidden;
  z-index: 1;
  border-radius: 10px;
}

.vwo--hidden {
  display: none !important;
}

.vwo-submit-report-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}

.vwo-cropper-submit-button {
  height: 40px;
  border: none;
  cursor: pointer;
  padding: 0 40px;
  border-radius: 40px;
  background: #1351b4;
  color: #fff;
  margin-right: auto;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  font-size: 14px;
  font-weight: bold;
}

.vwo-report-link {
  display: grid;
  place-items: center;
  border: none;
  font-size: 11px !important;
  background: none;
  cursor: pointer;
  border-radius: 40px;
  transition: all 0.3s ease;
  color: #D2D2D2 !important;
  text-decoration: none !important;
  text-align: center;
}

.vwo-report-link:hover {
  color: #e46b6b !important;
}

.vwo-cropper-submit-button svg {
  width: 20px;
  height: 20px;
}

.vwo-cropper-submit-button:hover {
  filter: brightness(1.2);
  background: #1351b4 !important;
}

.vwo-cropper-submit-button:active {
  filter: brightness(0.8);
  background: #1351b4 !important;
}

.vwo-cropper-submit-button:disabled {
  user-select: none;
  cursor: wait;
}

.vwo-extraction-progress {
  display: block;
  width: 0;
  top: 0;
  left: 0;
  position: fixed;
  height: 10px;
  background-color: #1351b4;
  z-index: 1;
}

@media only screen and (max-width: 480px) {
  .vwo-cropper-title {
    font-size: 14px;
  }

  .vwo-cropper-submit-button {
    width: 100%;
    font-size: 12px;
  }

  .vwo-cropper-submit-button svg {
    display: none;
  }

  .vwo-submit-report-buttons {
    flex-direction: column;
    gap: 16px
  }
}