* {
  font-family: Helvetica, Arial, sans-serif;
}

.vwo-scrollBar--hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.vwo-scrollBar--hidden::-webkit-scrollbar {
  display: none;
}

.vwo-img-ocr {
  cursor: pointer;
  outline: 2px dashed transparent;
  outline-offset: 2px;
  transition: all 0.3s ease;
  position: relative;
  z-index: 10000 !important;
}

.vwo-img-ocr:hover {
  filter: brightness(0.8);
  outline-color: #1351b4;
}

.vwo-image-links {
  z-index: 100000 !important;
  position: absolute;
  top: 0;
  left: 0;
}

.vwo-image-links a {
  color: #1351b4;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 0 10px;
  height: 30px;
  white-space: nowrap;
  border: none !important;
  transform: translateX(-50%);
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
}

.vwo-image-links a:hover {
  text-decoration: underline;
}

/* VLibras Widget */

div[vw] {
  z-index: 99999999 !important;
}

.vw-links .vw-tooltip.active > .vw-tooltip__item {
  z-index: 10000 !important;
}

vlibraswidget.vw-text {
  z-index: 10000 !important;
  position: relative;
}
